textarea{
    display: block;
}

button{
    display: block;
}

div{
    padding-left: 20px;
}

li{
    border: 1px solid black;
    padding: 25px 50px 75px 100px;
}

ul{
    margin: 10px 10px 10px 10px;
}

span{
    color: blue;
}