<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    will i be able to do this app?? !!
  </h1>
</div>
<!-- <ul>
  <li *ngFor="let item of data; let i = index">
    {{item.message}}
    <textarea *ngIf="reply" rows="4" cols="50" [(ngModel)]="item.message" placeholder="enter your reply">
      </textarea>
    <span (click)="postComments(item)" type="button">reply</span>
    <div *ngFor="let unit of item.replies; let i = index">
        {{unit.message}}
        <textarea *ngIf="child" rows="4" cols="50" [(ngModel)]="unit.message" placeholder="enter your reply">
          </textarea>
        <span (click)="postComments(unit)" type="button">reply</span>
    </div>
      
  
  </li>
</ul>-->

<app-recursion [comments]="postComment"></app-recursion>

<router-outlet></router-outlet>
